.header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.header>img {
  object-fit: contain;
  align-items: center;
  width: 728px;
  height: 400px;
}

@media all and (max-width : 650px) {
  .header {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
  }
  
  .header>img {
    max-width: 485px;
    max-height: 267px;
  }
}

@media all and (max-width : 480px) {
  .header {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
  }
  
  .header>img {
    max-width: 363px;
    max-height: 199px;
  }
}

@media all and (max-width : 360px) {
  .header {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
  }
  
  .header>img {
    width: 242px;
    height: 133px;
  }
}